.header-bar img {
  width: 100vw;
  height: 450px;
	background-attachment: fixed;
}
.main-bar {
  position: relative;
  width: 100vw;
  height: 400px;
  background-color:beige;
  box-shadow: 30px 10px 20px 50px beige;
}
.footer-bar img {
  width: 100vw;
  height: 300px;
}
.box {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-container {
  width: 100vw;
  position: absolute;
  display: flex;
	justify-content:center;
	align-items: center;
	line-height: 40px;
}
.box-container-bottom {
  width: 100vw;
  position: absolute;
  display: flex;
	justify-content:center;
	align-items: center;
  margin-top: 30px;
	line-height: 40px;
}
.box-container h1 {
	font-size: 20px;
	font-weight: 600;
}
.box-one,
.box-two,
.box-three {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  width: 300px;
	height: 300px;
  margin: 100px 30px 100px  30px;
	background: rgba(225, 225, 225, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(25px);
	border-radius: 10px;
}
.box-four,
.box-five,
.box-six {
  display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  width: 300px;
	height: 300px;
  margin: 100px 30px 100px  30px;
	background: rgba(225, 225, 225, 0.1);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: 1px solid rgba(255, 255, 255, 0.2);
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(25px);
	border-radius: 10px;
}
.box-one h1{
	font-size: 25px;
}
.box-one h2 {
	font-size: 20px;
}
.box-one,
.box-two {
	line-height: 70px;
}
.clock {
	font-size: 20px;
}



